<table class="table">
		<thead> 
			<tr>
				<th>ID</th>
				<th>Titulo</th>
				<th>Cuerpo</th>
				<th>Visitas</th>
				<th>Creado</th>
    			<th width="120px">Acciones</th>
			</tr>
		</thead>
		<tbody>
		<% @articles.each do |article| %>
			<tr>
				<td><%= article.id %></td>				
				<td><%= article.title %></td>
				<td><%= article.body%></td>
				<td><%= article.visits_count %> </td>
				<td><%= article.created_at %> </td>
				<td>
					<%= link_to article, method: :get do %>
				    	<i class="glyphicon glyphicon-eye-open"></i>
					<% end %>
					
					<%= link_to edit_article_path(article) do %>
				    	<i class="glyphicon glyphicon-edit"></i>
					<% end %>

					<%= link_to article, method: :delete,:data => {:confirm => "Esta Seguro?"} do %>
				    	<i class="glyphicon glyphicon-trash"></i>
					<% end %>					
				</td>
			</tr>
			<% end %>
		</tbody>

	</table>