<h1>Titulo: <%= @article.title %></h1>
<% unless @article.user.nil? %>
<p>Escrito por <%= @article.user.email %></p>
<% end -%>

<div class="control-group">
	<% @article.categories.each do |category| %>		
		<%= link_to category.name,category,style:"color:#{category.color};" %>
	<% end -%>
</div>

<p>Cuerpo: <%= @article.body %> </p>
<div>
<%= image_tag @article.cover.url(:thumb)%>
 </div>
<p>Visitas: <%= @article.visits_count %></p>

<h3>Comentarios</h3>
<%= render "comments/form" %>
<ul id="comments-list">
	<% @article.comments.each do |comment| %>
		<li>
			<%= comment.body %> - <%= comment.user.email %>
		</li>	
		<% end -%>

</ul>